<h1>About Us</h1>
<p>Click <button type="button" class="btn btn-danger">Here</button> to Learn who is on our team </p>
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    <span class="sr-only">20% Complete</span>
  </div>
</div>
<p>Contact Us!</p><span class="glyphicon glyphicon-envelope"></span>